<mat-toolbar>
    <section>
        <h1>GYM</h1>
    </section>
    <span class="example-spacer"></span>


    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            [routerLink]="['/dashboard']">
        <mat-icon color="primary">supervised_user_circle</mat-icon>
    </button>
</mat-toolbar>

<iframe width="100%" height="100%" src="https://www.youtube.com/embed/JpqCSBtppJo" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>

</iframe>

