<div class="animated fadeIn dashboard">
    <h3 > Ciao {{email}}</h3>
    <mat-card class="dashboard-item item-teal float-item" *ngIf="isUser" routerLink="dashboard/esercizio">
        <i class="material-icons dashboard-icon">fitness_center</i>
        <mat-card-header>
            <mat-card-title>
                <h3>Esercizio</h3>
            </mat-card-title>
        </mat-card-header>
    </mat-card>

    <mat-card class="dashboard-item item-brown float-item" *ngIf="isUser" routerLink="dashboard/dieta">
        <i class="material-icons dashboard-icon">fastfood</i>
        <mat-card-header>
            <mat-card-title>
                <h3>Dieta</h3>
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</div>
