<mat-card>
    <mat-card-header>
        <i class="material-icons">fitness_center</i>
        <mat-card-title>Esercizio</mat-card-title>
        <mat-card-subtitle>Aggiungi esercizio</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="insert()">
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Nome esercizio</mat-label>
                <input formControlName="nome" matInput required placeholder="Es Panca Piana">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Descrizione</mat-label>
                <input formControlName="descrizione" required matInput placeholder="Esercizio svolto da terra....">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Codice video Youtube</mat-label>
                <input formControlName="url" required matInput placeholder="https://www.youtube.com/watch?v=   (SVx2k8OZG48) ">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Ripetizioni</mat-label>
                <input formControlName="ripetizioni" required matInput placeholder="40x3">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="standard">
                <mat-label>Pesi</mat-label>
                <input formControlName="kg" required matInput placeholder="50KG">
            </mat-form-field>
        </p>
        <button mat-raised-button type="submit" color="accent">Salva</button>

        </form>
    </mat-card-content>
</mat-card>

